<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.referred.title(${referred.vehicleRegistrationNo})}">Yoo Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{email.referred.salutation}">
    Dear,
</p>
<p th:text="#{email.referred.intro}">
    My introduction
</p>
<p th:text="#{email.referred.name(${referred.name})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:
</p>
<p th:text="#{email.referred.id(${referred.idNo})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id No:
</p>
<p th:text="#{email.referred.gender(${referred.gender})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender:
</p>
<p th:text="#{email.referred.email(${referred.email})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:
</p>
<p th:text="#{email.referred.mobile(${referred.mobileNumber})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile No:
</p>
<p th:text="#{email.referred.vehicle(${referred.vehicleRegistrationNo})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vehicle Registration No
</p>
<p th:text="#{email.referred.agent(${referred.agentTagged})}">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agent Tagged:
</p>
<p th:text="#{email.referred.closing}">
    Closing bro
</p>
<p>
    <span th:text="#{email.referred.regards}">tq, </span>
    <br/>
    <b th:text="#{email.referred.signature}">Mobile App Team.</b>
</p>
</body>
</html>
